___

<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" alt="CLRSWY"></p>

___

<h1><p style="text-align: center;">Data Analysis with Python <br>Project - 1</p><h1> - Traffic Police Stops <img src="https://docs.google.com/uc?id=17CPCwi3_VvzcS87TOsh4_U8eExOhL6Ki" class="img-fluid" alt="CLRSWY" width="200" height="100">

Before beginning your analysis, it is critical that you first examine and clean the dataset, to make working with it a more efficient process. You will practice fixing data types, handling missing values, and dropping columns and rows while learning about the Stanford Open Policing Project dataset.

***

## Examining the dataset

You'll be analyzing a dataset of traffic stops in Rhode Island that was collected by the Stanford Open Policing Project.

Before beginning your analysis, it's important that you familiarize yourself with the dataset. You'll read the dataset into pandas, examine the first few rows, and then count the number of missing values.

**INSTRUCTIONS**

*   Import pandas using the alias ``pd``.
*   Read the file police.csv into a DataFrame named ``ri``
*   Examine the first 5 rows of the ``DataFrame`` (known as the ``"head"``).
*   Count the number of missing values in each column: Use ``.isnull()`` to check which ``DataFrame`` elements are missing, and then take the ``.sum()`` to count the number of ``True`` values in each column.

In [96]:
import pandas as pd
import numpy as np
ri = pd.read_csv("police.csv")
ri.isnull().sum()

C:\Users\sc977\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (8,16) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

id                            0
state                         0
stop_date                    10
stop_time                    10
location_raw                  0
county_name              509681
county_fips              509681
fine_grained_location    509681
police_department            10
driver_gender             29097
driver_age_raw            29049
driver_age                30695
driver_race_raw           29073
driver_race               29073
violation_raw             29073
violation                 29073
search_conducted             10
search_type_raw          491919
search_type              491919
contraband_found              0
stop_outcome              29073
is_arrested               29073
stop_duration             29073
out_of_state              29881
drugs_related_stop            0
district                      0
dtype: int64

***

## Dropping columns

Often, a DataFrame will contain columns that are not useful to your analysis. Such columns should be dropped from the ``DataFrame``, to make it easier for you to focus on the remaining columns.

You'll drop the ``county_name`` column because it only contains missing values, and you'll drop the ``state`` column because all of the traffic stops took place in one state (Rhode Island). Thus, these columns can be dropped because they contain no useful information.

**INSTRUCTIONS**

*   Examine the ``DataFrame``'s shape to find out the number of rows and columns.

*   Drop the columns that almost consist of missing values. 

*   Examine the ``.shape`` again to verify that there are now two fewer columns.

In [97]:
ri.drop(["state", "county_name", "county_fips", "fine_grained_location"], axis=1, inplace=True)

In [98]:
ri.head()

,id,stop_date,stop_time,location_raw,police_department,driver_gender,driver_age_raw,driver_age,driver_race_raw,driver_race,...,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
0,RI-2005-00001,2005-01-02,01:55,Zone K1,600,M,1985.0,20.0,W,White,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K1
1,RI-2005-00002,2005-01-02,20:30,Zone X4,500,M,1987.0,18.0,W,White,...,False,NaN,NaN,False,Citation,False,16-30 Min,False,False,Zone X4
2,RI-2005-00003,2005-01-04,11:30,Zone X1,0,NaN,NaN,NaN,NaN,NaN,...,False,NaN,NaN,False,NaN,NaN,NaN,NaN,False,Zone X1
3,RI-2005-00004,2005-01-04,12:55,Zone X4,500,M,1986.0,19.0,W,White,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
4,RI-2005-00005,2005-01-06,01:30,Zone X4,500,M,1978.0,27.0,B,Black,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4

## Dropping rows

When you know that a specific column will be critical to your analysis, and only a small fraction of rows are missing a value in that column, it often makes sense to remove those rows from the dataset.

During this course, the ``driver_gender`` column will be critical to many of your analyses. Because only a small fraction of rows are missing ``driver_gender``, we'll drop those rows from the dataset.

**INSTRUCTIONS**

*   Count the number of missing values in each column.

*   Drop all rows that are missing ``driver_gender`` by passing the column name to the subset parameter of ``.dropna()``.
*   Count the number of missing values in each column again, to verify that none of the remaining rows are missing ``driver_gender``.
*   Examine the ``DataFrame``'s ``.shape`` to see how many rows and columns remain.

In [99]:
ri.shape

(509681, 22)

In [100]:
ri.isnull().sum()

id                         0
stop_date                 10
stop_time                 10
location_raw               0
police_department         10
driver_gender          29097
driver_age_raw         29049
driver_age             30695
driver_race_raw        29073
driver_race            29073
violation_raw          29073
violation              29073
search_conducted          10
search_type_raw       491919
search_type           491919
contraband_found           0
stop_outcome           29073
is_arrested            29073
stop_duration          29073
out_of_state           29881
drugs_related_stop         0
district                   0
dtype: int64

In [101]:
ri.dropna(subset=["driver_gender"], inplace = True)

In [102]:
ri.isnull().sum()

id                         0
stop_date                  0
stop_time                  0
location_raw               0
police_department          0
driver_gender              0
driver_age_raw             1
driver_age              1638
driver_race_raw            0
driver_race                0
violation_raw              0
violation                  0
search_conducted           0
search_type_raw       462822
search_type           462822
contraband_found           0
stop_outcome               0
is_arrested                0
stop_duration              0
out_of_state             808
drugs_related_stop         0
district                   0
dtype: int64

***

## Fixing a data type

We know that the ``is_arrested`` column currently has the ``object`` data type. In this exercise, we'll change the data type to ``bool``, which is the most suitable type for a column containing ``True`` and ``False`` values.

Fixing the data type will enable us to use mathematical operations on the ``is_arrested`` column that would not be possible otherwise.

**INSTRUCTIONS**

*   Examine the head of the ``is_arrested`` column to verify that it contains ``True`` and ``False`` values.
*   Check the current data type of ``is_arrested``.
*   Use the ``.astype()`` method to convert ``is_arrested`` to a ``bool`` column.
*   Check the new data type of ``is_arrested``, to confirm that it is now a ``bool`` column.

In [114]:
ri.is_arrested

0         True
1         True
3         True
4         True
5         True
          ...
509666    True
509667    True
509668    True
509669    True
509670    True
Name: is_arrested, Length: 480584, dtype: bool

In [104]:
ri.shape

(480584, 22)

In [105]:
ri.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 480584 entries, 0 to 509670
Data columns (total 22 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   id                  480584 non-null  object
 1   stop_date           480584 non-null  object
 2   stop_time           480584 non-null  object
 3   location_raw        480584 non-null  object
 4   police_department   480584 non-null  object
 5   driver_gender       480584 non-null  object
 6   driver_age_raw      480583 non-null  float64
 7   driver_age          478946 non-null  float64
 8   driver_race_raw     480584 non-null  object
 9   driver_race         480584 non-null  object
 10  violation_raw       480584 non-null  object
 11  violation           480584 non-null  object
 12  search_conducted    480584 non-null  object
 13  search_type_raw     17762 non-null   object
 14  search_type         17762 non-null   object
 15  contraband_found    480584 non-null  bool
 16  stop_outcome        480584 non-null  object
 17  is_arrested         480584 non-null  object
 18  stop_duration       480584 non-null  object
 19  out_of_state        479776 non-null  object
 20  drugs_related_stop  480584 non-null  bool
 21  district            480584 non-null  object
dtypes: bool(2), float64(2), object(18)
memory usage: 77.9+ MB

In [112]:
ri["is_arrested"] = ri ["is_arrested"].astype(bool)

In [113]:
ri["is_arrested"].dtypes

dtype('bool')

***

## Combining object columns

Currently, the date and time of each traffic stop are stored in separate object columns: ``stop_date`` and ``stop_time``.

You'll combine these two columns into a single column, and then convert it to ``datetime`` format. This will enable convenient date-based attributes that we'll use later in the course.

**INSTRUCTIONS**

*    Use a string method to concatenate ``stop_date`` and ``stop_time`` (separated by a space), and store the result in ``combined``.
*    Convert ``combined`` to ``datetime`` format, and store the result in a new column named ``stop_datetime``.
*    Examine the ``DataFrame`` ``.dtypes`` to confirm that ``stop_datetime`` is a datetime column.

In [124]:
ri["stop_date"], ["stop_time"]

(0         2005-01-02
 1         2005-01-02
 3         2005-01-04
 4         2005-01-06
 5         2005-01-12
              ...
 509666    2015-12-31
 509667    2015-12-31
 509668    2015-12-31
 509669    2015-12-31
 509670    2015-12-31
 Name: stop_date, Length: 480584, dtype: object,
 ['stop_time'])

In [139]:
ri["combined"] =  ri.stop_date +' '+ri.stop_time
ri.head()

,id,stop_date,stop_time,location_raw,police_department,driver_gender,driver_age_raw,driver_age,driver_race_raw,driver_race,...,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district,combined,stop_datetime
0,RI-2005-00001,2005-01-02,01:55,Zone K1,600,M,1985.0,20.0,W,White,...,NaN,False,Citation,True,0-15 Min,False,False,Zone K1,2005-01-02 01:55,2005-01-02 01:55
1,RI-2005-00002,2005-01-02,20:30,Zone X4,500,M,1987.0,18.0,W,White,...,NaN,False,Citation,True,16-30 Min,False,False,Zone X4,2005-01-02 20:30,2005-01-02 20:30
3,RI-2005-00004,2005-01-04,12:55,Zone X4,500,M,1986.0,19.0,W,White,...,NaN,False,Citation,True,0-15 Min,False,False,Zone X4,2005-01-04 12:55,2005-01-04 12:55
4,RI-2005-00005,2005-01-06,01:30,Zone X4,500,M,1978.0,27.0,B,Black,...,NaN,False,Citation,True,0-15 Min,False,False,Zone X4,2005-01-06 01:30,2005-01-06 01:30
5,RI-2005-00006,2005-01-12,08:05,Zone X1,0,M,1973.0,32.0,B,Black,...,NaN,False,Citation,True,30+ Min,True,False,Zone X1,2005-01-12 08:05,2005-01-12 08:05

In [150]:
ri["stop_datetime"].dtype

dtype('<M8[ns]')

In [149]:
ri["stop_datetime"] = pd.to_datetime(ri["combined"])

In [151]:
ri["stop_datetime"].dtype

dtype('<M8[ns]')

In [152]:
pd.to_datetime (ri["stop_datetime"])

0        2005-01-02 01:55:00
1        2005-01-02 20:30:00
3        2005-01-04 12:55:00
4        2005-01-06 01:30:00
5        2005-01-12 08:05:00
                 ...
509666   2015-12-31 22:46:00
509667   2015-12-31 22:47:00
509668   2015-12-31 23:08:00
509669   2015-12-31 23:44:00
509670   2015-12-31 23:48:00
Name: stop_datetime, Length: 480584, dtype: datetime64[ns]

In [141]:
ri["stop_datetime"].dtype

dtype('O')

In [153]:
ri.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 480584 entries, 0 to 509670
Data columns (total 24 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   id                  480584 non-null  object
 1   stop_date           480584 non-null  object
 2   stop_time           480584 non-null  object
 3   location_raw        480584 non-null  object
 4   police_department   480584 non-null  object
 5   driver_gender       480584 non-null  object
 6   driver_age_raw      480583 non-null  float64
 7   driver_age          478946 non-null  float64
 8   driver_race_raw     480584 non-null  object
 9   driver_race         480584 non-null  object
 10  violation_raw       480584 non-null  object
 11  violation           480584 non-null  object
 12  search_conducted    480584 non-null  object
 13  search_type_raw     17762 non-null   object
 14  search_type         17762 non-null   object
 15  contraband_found    480584 non-null  bool
 16  stop_outcome        480584 non-null  object
 17  is_arrested         480584 non-null  bool
 18  stop_duration       480584 non-null  object
 19  out_of_state        479776 non-null  object
 20  drugs_related_stop  480584 non-null  bool
 21  district            480584 non-null  object
 22  combined            480584 non-null  object
 23  stop_datetime       480584 non-null  datetime64[ns]
dtypes: bool(3), datetime64[ns](1), float64(2), object(18)
memory usage: 98.2+ MB

The last step that you'll take in this chapter is to set the ``stop_datetime`` column as the ``DataFrame``'s index. By replacing the default index with a ``DatetimeIndex``, you'll make it easier to analyze the dataset by date and time, which will come in handy later in the course.

**INSTRUCTIONS**

*   Set ``stop_datetime`` as the ``DataFrame`` index.
*   Examine the index to verify that it is a ``DatetimeIndex``.
*   Examine the ``DataFrame`` columns to confirm that ``stop_datetime`` is no longer one of the columns.

In [156]:
ri = ri.set_index("stop_datetime")

In [158]:
type(ri.index)

pandas.core.indexes.datetimes.DatetimeIndex

In [159]:
ri.columns

Index(['id', 'stop_date', 'stop_time', 'location_raw', 'police_department',
       'driver_gender', 'driver_age_raw', 'driver_age', 'driver_race_raw',
       'driver_race', 'violation_raw', 'violation', 'search_conducted',
       'search_type_raw', 'search_type', 'contraband_found', 'stop_outcome',
       'is_arrested', 'stop_duration', 'out_of_state', 'drugs_related_stop',
       'district', 'combined'],
      dtype='object')